# fly.toml app configuration file for Orben Search Worker

app = 'orben-search-worker'
primary_region = 'iad'

[build]
  [build.args]
    NODE_VERSION = "20"

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 8081
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
